<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400&amp;subset=japanese" rel="stylesheet"> -->
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="theme-color" content="#ffffff">
  <title>リンク－筑波大学将棋部</title>
  <meta name="Description" content="筑波大学　将棋部公式サイトです。This is Tsukuba Shogi Club.">
  <link rel="stylesheet" type="text/css" href="src/main.css">
</head>
<style>
[v-cloak] { display: none; }
</style>
<body>
  <div>
  <div id="vue">
    <v-app>
      <v-parallax dark src="./img/photo2.webp">
        <v-layout align-center column justify-center>
          <div class="welcome">Tsukuba<br>Shogi Club</div>
          <v-btn fab dark outline tag="down" v-if="$vuetify.breakpoint.xsOnly" @click="$vuetify.goTo('#start', 'easing')">
            <!-- <v-icon large>keyboard_arrow_down</v-icon> -->
            <img src="img/baseline_keyboard_arrow_down_white_18dp.png" alt="down">
          </v-btn>
        </v-layout>
      </v-parallax>
      <v-container fluid id="start">
        <h1 class="col pt-2">Link</h1>
        <v-card>
          <v-container fluid grid-list-lg>
            <v-layout row wrap>
              <v-flex xs12>
                <v-card class="mb-5">
                  <v-card-title primary-title>
                    <div>
                      <div class="headline">大学将棋のリンク</div>
                      <span class="gray--text">（※2019年度春季団体戦時点での順位)</span>
                    </div>
                  </v-card-title>
                </v-card>
                <v-flex xs12 v-for="(nthMenber,i) in menbers" :key="i">
                  <v-card color="teal darken-3" dark v-if="nthMenber.divide">
                    <v-card-title primary-title>
                      <div>
                        <div class="title" v-cloak>{{ nthMenber.contents }}</div>
                      </div>
                    </v-card-title>
                  </v-card>
                  <v-card ripple hover v-else>
                    <v-card-title primary-title>
                      <div>
                        <div class="headline" v-cloak>{{ nthMenber.name }}</div>
                        <span v-cloak>{{ nthMenber.description }}</span>
                      </div>
                    </v-card-title>
                  </v-card>
                </v-flex>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-container>
    </v-app>
  </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.js"></script>
  <script>
    new Vue({
      el: '#vue',
      data() {
        return {
          menbers: [
            {divide: true, contents: '関東Ａ級(2019年度春)'},
            {divide: false, href: '', name: '早稲田大学将棋部', description: '大会結果が非常に丁寧です。' },
            {divide: false, href: '', name: '東京大学将棋部', description: '情報盛りだくさんです。'},
            {divide: false, href: '', name: '慶應義塾大学将棋研究会', description: '大会結果をxlsでダウンロード出来るようになってます。'},
            {divide: false, href: '', name: '日本大学理工将棋研究会', description: '内容が充実しています。'},
            {divide: false, href: '', name: '東京工業大学将棋部', description: '非常に簡潔なページです'},
            {divide: false, href: '', name: '千葉大学将棋部', description: '丁寧なHPです。'},
            {divide: false, href: '', name: '東洋大学将棋研究会ＨＰ', description: 'コンテンツは少々少なめですが、充実しています。'},
            {divide: true, contents: '関東Ｂ１級(2019年度春)'},
            {divide: false, href: '', name: '明大将研ON LINE', description: 'カラフルで丁寧です。'},
            {divide: false, href: '', name: '東京理科大学将棋部', description: '中身の濃いページです。　ちなみに、理大理工とは別の組織です。'},
            {divide: false, href: '', name: '一橋大学将棋部', description: '少ないコンテンツながら非常に内容が充実しています。'},
            {divide: false, href: '', name: '法政大学将棋部', description: 'スタイリッシュで格好良いページです。'},
            {divide: false, href: '', name: '青山学院大学チェックメイト部', description: '丁寧に作られています。　アットホームな雰囲気で楽しいです。'},
            {divide: false, href: '', name: '首都大学東京将棋部', description: 'さっぱりしていて見やすいです。'},
            {divide: true, contents: '関東Ｂ２級(2019年度春)'},
            {divide: false, href: '', name: '中央大学将棋部', description: '格好良いHPです。　特に、部員の紹介が凄いです'},
            {divide: false, href: '', name: '埼玉大学将棋部', description: 'さっぱりしていて見やすいHPです。'},
            {divide: false, href: '', name: '神奈川大学将棋部', description: '少ないコンテンツながら非常に内容が充実しています。'},
            {divide: true, contents: '関東Ｃ1級(2019年度春)'},
            {divide: false, href: '', name: '東海大学望星会囲碁将棋部', description: '結果がとても見やすく作られてます。'},
            {divide: false, href: '', name: '東京理科大学野田同好会将棋部(理大理工）', description: 'コンテンツが非常に充実しています。　特に、棋譜の解説が丁寧です。'},
            {divide: true, contents: '関東Ｃ2級(2019年度春)'},
            {divide: false, href: '', name: '駒澤大学将棋愛好会ＨＰ', description: 'ブログ形式で、面白い記事が沢山あります。'},
            {divide: false, href: '', name: '千葉工業大学将棋倶楽部', description: 'まだ内容は少ないですが…。'},
            {divide: false, href: '', name: '上智大学将棋部', description: '非常に華やかなページで、色々な仕掛けがしてあります。（相互）'},
            {divide: true, contents: 'その他の将棋部' },
            {divide: false, href: '', name: '東北大学将棋部', description: '合宿などを一緒にやらせて頂いている東北大学の将棋部のＨＰです。（相互）'},
            {divide: true, contents: '将棋NEWS関連' },
            {divide: false, href: '', name: '日本将棋連盟', description: 'ここで紹介の必要もなさそうですが一応。'},
            {divide: false, href: '', name: 'MYCOM将棋WEB', description: '内容・量ともによろしいかと。'},
            {divide: false, href: '', name: 'Asahi.com将棋Page', description: '朝日オープンの棋譜を並べられたりする。展望が楽しいです。'},
            {divide: false, href: '', name: '関東大学将棋連盟', description: '関東地方の大学将棋の大会はここでCheck!（更新を望んではいけない）（相互）'},
            {divide: false, href: '', name: '茨城県棋界情報', description: '茨城県棋界の情報を扱っています。'},
          ]
        }
      },
      mounted() {
        this.img = `./img/photo${Math.floor(Math.random() * 2)}.png`
      },
    })
  </script>
</body>
</html>